<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/head"></div>

<body>
    <div th:insert="fragments/adminheader"></div>
    <div style="height:45px;"><br></div>
    <h1>Autók</h1>
    <div class="adminCarList">
        <table>
            <tr>
                <th style="width: 45%">Név</th>
                <th style="width: 45%">Ár</th>
                <th>Műveletek</th>
            </tr>
            <tr th:each="car : ${allCars}">
                <td th:text="${car.getName}"></td>
                <td th:text="${car.getPrice} + ' Ft'"></td>
                <td>
                    <form action="/changeActive" method="post">
                        <input type="hidden" name="carID" th:value="${car.getId}">
                        <input type="hidden" name="isActive" th:value="${car.getActive}">
                        <button th:if="${car.getActive == 'active'}" type="submit">Deaktivál</button>
                        <button th:if="${car.getActive == 'deactive'}" type="submit" style="background-color: #e50031">Aktivál</button>
                    </form><br>
                    <form action="/admin/modifycar" method="post">
                        <input type="hidden" name="carID" th:value="${car.getId}">
                        <button type="submit">Módosít</button>
                    </form><br>
                    <form action="/deleteCar" method="post" onsubmit="return confirm('Biztosan törlöd?');">
                        <input type="hidden" name="carID" th:value="${car.getId}">
                        <button type="submit">Töröl</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>