@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

h1,h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.44);
    transition: 0.3s;
    margin: -8px -8px 0;
    background-color: rgba(0,136,169,1);
}

header button{
    background-color: white;
    color: rgba(0,136,169,1);
}

header button:hover{
    background-color: #c0eff8;
}

.logo{
    cursor: pointer;
}

.nav__links {
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links li a:hover{
    color: #c0eff8;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

table{
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.submitBTN{
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.container {
    padding: 2px 16px;
    font-family: "Montserrat", sans-serif;
}

.adminInfoCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.adminInfoTable{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    /*Az admin főoldalon levő három kártyát egybefoglaló width*/
}

.adminInfoCard:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.adminCarList table{
    margin-left: 0;
    border: 1px solid #cdcdcd;
    padding: 8px;
    width: 100%;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}
.adminCarList th, .adminCarList td{
    border: 1px solid #cdcdcd;
    padding: 8px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.adminCarList th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(1, 6, 3);
    color: white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.adminCarList button{
    width: 100%;
}


input[type=text], input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.modifyForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(189, 189, 189, 0.44);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Reszponzivitás, ha a képernyő kisebb, mint 600px, a labeleket a saját input mezője felé teszi */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.modifyForm button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Mid{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Dátum input csinosítása */
input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
